header{
    width: 100%;
    background: #1E677F;
    height: 50px;
}
#btn-menu{
    display: none;
}
#btn{
    display: none;
}
#logo{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff; 
}
header label:hover{
    cursor: pointer;
    background: #1E5C7F;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li{
    flex-grow:1;
    text-align: center; 
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
.menu li:hover{
    background: rgb(58, 109, 124);
}
@media(max-width:768px){
    #btn{
        display: inline-block;
    }
    #logo{
        display: inline-block;
        height: 40px; 
    }
    .menu{
        position: absolute;
        background: #1E677F;
        width: 40%;
        margin-left: -40%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1 px solid white; 
    }
    .menu li img{
        display: none;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}

